doctype html

html
    head
        title Hello Pug
        link(rel='stylesheet', href='/static/css/main.css')
    body
        div.lol
           
            div.morg
                a(href="http://localhost:3000/")
                    h1.ahlabik  Home page
                a(href="http://localhost:3000/services")
                    h1.ahlabik  Our Services
                a(href="http://localhost:3000/Contact")
                    h1.ahlabik Contact us
    div.mohadq
       
        div.mdoa
            img(src="static/img/13962.svg")
            p azdoazd
            img(src="static/img/22.svg")
            p azdoazd
            img(src="static/img/00.svg")
            p dazdazdza
            h3 Welcome aazdihozdbazdad zad <br> doazjdaozdjza
        div.moba02
            h4 other iformation oajdzadaazd
